@model MenuTest.Models.MenuItem
@{
    bool isSubMenu = false;
    if(Model.Parent != null)
        isSubMenu = true;
    string dropdownCssClass = "dropdown";
    if(isSubMenu)
        dropdownCssClass = "dropdown dropdown-submenu";
}
@if(Model.Children != null && Model.Children.Count > 0)
{
    <li class="@dropdownCssClass">
        @if(isSubMenu)
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.Text</a>
        }
        else
        {
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Model.Text <span class="caret"></span></a>
        }
        
        <ul class="dropdown-menu">
            @foreach(var child in Model.Children.OrderBy(i => i.CreationDate))
            {
                @Html.Partial("_ShowMenuItem",child)
            }
        </ul>
    </li>
}
else
{
    @if(Model.OpenInNewTab)
    {
        <li><a href="@Model.Href" class="@Model.CssClass" target="_blank">@Model.Text</a></li>
    }
    else
    {
        <li><a href="@Model.Href" class="@Model.CssClass" >@Model.Text</a></li>
    }
}