@model MenuTest.Models.Menu
@{
    ViewData["Title"] = "مدیریت";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <h4>گزینه های منو</h4>
        <div class="panel-group" id="menu-item-select-list" role="tablist" aria-multiselectable="true">
            @await Component.InvokeAsync("CustomLinkItem")
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <form method="POST" id="menuEditorForm">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.IsPublic)
            <h4>ساختار منو</h4>
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-right" style="padding-top: 5px;"> 
                        @Model.Name
                    </h4>
                    <div class="pull-left">
                        <button type="button" id="btnSaveEditedMenu" class="btn btn-success">ذخیره</button>
                    </div>
                </div>
                <div class="panel-body">
                    <ol class="sortable ui-sortable mjs-nestedSortable-branch mjs-nestedSortable-expanded">
                        @foreach (var item in Model.Items.Where(i => i.ParentId == null))
                        {
                            @await Html.PartialAsync("_ShowEditbaleItem",item)         
                        }
                    </ol>
                    <hr>
                    <div class="form-group">
                        <label asp-for="CssClass">کلاس CSS</label>
                        <input asp-for="CssClass" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="Description">توضیحات</label>
                        <input asp-for="Description" class="form-control">
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>